<nav>
    <div id="navega">
        <div id="menu">
            <div id="fijo">
                <button class="button" routerLink="/home" routerLinkActive="active">Home</button>
                <button class="button" routerLink="/primer" routerLinkActive="active">Primer</button>
                <button class="button" routerLink="/segon" routerLinkActive="active">Segon</button>
                <button class="button" routerLink="/tercer" routerLinkActive="active">Tercer</button>
                <button class="button" routerLink="/usuaris" routerLinkActive="active">Usuaris A</button>
                <button class="button" routerLink="/listar" routerLinkActive="active">Personas</button>
            </div>
        </div>
    </div>
</nav>