<div class="pos-f-t">
    <nav class="navbar navbar-dark bg-dark btn-group">
        <div class="center">
            <button class="btn btn-secondary margin btn-sm" type="button" routerLink="/home" routerLinkActive="active ">Home</button>
            <button class="btn btn-secondary margin btn-sm" type="button" routerLink="/primer" routerLinkActive="active ">Primer</button>
            <button class="btn btn-secondary margin btn-sm" type="button" routerLink="/segon" routerLinkActive="active">Segon</button>
            <button class="btn btn-secondary margin btn-sm" type="button" routerLink="/tercer" routerLinkActive="active">Tercer</button>
            <button class="btn btn-secondary margin btn-sm" type="button" routerLink="/usuaris" routerLinkActive="active">Usuaris A</button>
            <button class="btn btn-secondary margin btn-sm" type="button" routerLink="/listar" routerLinkActive="active">Personas</button>
        </div>
    </nav>
</div>