<div class="pos-f-t">

    <nav class="navbar-dark bg-dark centrar space">
        <button class="button navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation" routerLink="/home" routerLinkActive="active ">Home</button>
        <button class="button navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent " aria-controls="navbarToggleExternalContent " aria-expanded="false " aria-label="Toggle navigation" routerLink="/primer" routerLinkActive="active ">Primer</button>
        <button class="button navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent " aria-controls="navbarToggleExternalContent " aria-expanded="false " aria-label="Toggle navigation" routerLink="/segon" routerLinkActive="active">Segon</button>
        <button class="button navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent " aria-controls="navbarToggleExternalContent " aria-expanded="false " aria-label="Toggle navigation" routerLink="/tercer" routerLinkActive="active">Tercer</button>
        <button class="button navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent " aria-controls="navbarToggleExternalContent " aria-expanded="false " aria-label="Toggle navigation" routerLink="/usuaris" routerLinkActive="active">Usuaris A</button>
        <button class="button navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent " aria-controls="navbarToggleExternalContent " aria-expanded="false " aria-label="Toggle navigation" routerLink="/listar" routerLinkActive="active">Personas</button>
    </nav>

</div>