<div class="capcalera">
    <br>
    <div class="left">
        <img src="https://dynaimage.cdn.cnn.com/cnn/q_auto,w_900,c_fill,g_auto,h_506,ar_16:9/http%3A%2F%2Fcdn.cnn.com%2Fcnnnext%2Fdam%2Fassets%2F170407220907-01-iconic-mountains-k2-restricted.jpg" class="img-fluid rounded" alt="Responsive image"> Website
    </div>
    <div class="right">
        <nav class="navbar-dark bg-white centrar space">
            <button class="button navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation" routerLink="/login" routerLinkActive="active">Login</button>
        </nav>
    </div>
</div>