<usuariscrud></usuariscrud>
<br>
<div class="container col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>Modificar Personas</h3>
        </div>
        <div class="card-body">
            <form action="">
                <div class="id">
                    <label for=" ">ID: &nbsp;</label>
                    <input class="inId " type="text " disabled name="id " [(ngModel)]="persona.id " #fid>
                </div>
                <div class="form-group ">
                    <label for=" ">Nombre:</label>
                    <input [(ngModel)]="persona.name " name="name " type="text " class="form-control " #fname>
                </div>
                <div class="form-group ">
                    <label for=" ">Apellido:</label>
                    <input [(ngModel)]="persona.apellidos " name="apellidos " type="text " class="form-control " #fsname>
                </div>
                <button (click)="Actualizar(fid. value, fname.value, fsname.value) " class="button btn-danger ">Actualizar</button>
            </form>
        </div>
    </div>
</div>