<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Personas</h3>
            <button class="btn" routerLink="/listar" routerLinkActive="active">List</button>
            <button class="btn" routerLink="/add" routerLinkActive="active">Add</button>

        </div>
        <div class="card-body">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>NOMBRES</th>
                        <th>APELLIDOS</th>
                        <th>ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let users of personas" class="center">
                        <td>{{ users.id }}</td>
                        <td>{{ users.name }}</td>
                        <td>{{ users.apellidos }}</td>
                        <td>
                            <button class="btn btn-warning">Editar</button>
                            <button class="btn btn-warning">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>