<usuariscrud></usuariscrud>
<div class="container">
    <div class="card">
        <div class="card-body">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>NOMBRES</th>
                        <th>APELLIDOS</th>
                        <th>ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let users of personas" class="center">
                        <td>{{ users.id }}</td>
                        <td>{{ users.name }}</td>
                        <td>{{ users.apellidos }}</td>
                        <td>
                            <button (click)="Editar(users)" class="btn btn-warning btn-sm">Editar</button>
                            <button class="btn btn-danger btn-sm">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>