form {
    margin: auto;
}

.login {
    border: 1px;
    border-style: solid;
    text-align: center;
    margin: 0 auto;
    width: 250px;
    height: 280px;
    margin-top: 10%;
}

.center {
    margin: auto;
    text-align: center;
}

.card {
    border: 0px;
}